* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #03256c;
  min-height: 100vh;
  font-family: "Roboto", "Inter";
  color: white;
}
#root {
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}
header {
  flex: 1 0 15vh;
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
  color: white;
  width: 100%;
  position: sticky;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  flex: 1 0 75vh;
  padding: 2rem;
  width: fit-content;
  display: grid;
  align-items: center;
  height: 100%;
  width: fit-content;
}
.game-layout {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 60% 10%;
  row-gap: 2rem;
}
button {
  background-color: #1768ac;
  color: white;
  border-radius: 8px;
}
button:hover {
  background-color: #06bee1;
}
h2 {
  color: white;
}
footer {
  flex: 1 0 10vh;
}
.info-container {
  grid-row: 1;
  grid-column: 1 / span 2;
  justify-self: center;
  min-width: 50%;
  min-height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 8px;
}
.board-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 4px;
  width: fit-content;
  justify-self: center;
}
.board {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid black;
  display: flex;
  height: clamp(150px, 30vh, 500px);
  width: clamp(150px, 30vh, 500px);
}
.player1 {
  grid-column: 1;
  grid-row: 2;
}
.player2 {
  grid-column: 2;
  grid-row: 2;
}
.column-display {
  grid-column: 2;
  grid-row: 1;
  display: flex;
}
.column-display div {
  flex: 1;
  text-align: center;
}
.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.row-display {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}
.row-display div {
  flex: 1;
  text-align: center;
}
.cell {
  border: 1px solid black;
  flex-grow: 1;
}
.setup-screen {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 1.5rem;
  border-radius: 8px;
}
.setup-screen h2 {
  font-size: 1rem;
}
.setup-screen input {
  padding: 4px;
  border-radius: 4px;
  display: block;
  margin-top: 1.5rem;
  width: 100%;
}
.setup-screen button {
  width: clamp(50px, 7.5vw, 100px);
  height: clamp(20px, 3.5vh, 50px);
  align-self: center;
}
.setup-screen button:hover {
  background-color: #06bee1;
}
.page-cover {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: #03256c;
}
.choose-mode-screen {
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 3rem;
  gap: 2rem;
  border-radius: 8px;
  height: clamp(500px, 50vh, 600px);
  align-items: center;
  justify-content: center;
}
.choose-mode-screen h2 {
  grid-column: 1/3;
  text-align: center;
  font-size: 2.5rem;
}
.choose-mode-screen .next-button.choose-mode {
  grid-column: 1/3;
  justify-self: center;
  width: clamp(100px, 15vw, 200px);
  height: clamp(50px, 7.5vh, 150px);
}
.next-button.choose-mode:active {
  background-color: #06bee1;
}
.choose-mode-screen .player-button {
  width: clamp(100px, 15vw, 200px);
  height: clamp(50px, 7.5vh, 100px);
  justify-self: center;
}
.choose-mode-screen .pc-button {
  width: clamp(100px, 15vw, 200px);
  height: clamp(50px, 7.5vh, 150px);
  justify-self: center;
}
.active-mode {
  background-color: #06bee1;
}
.pass-device-screen {
  background-color: rgba(0, 0, 0);
  padding: 3rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.pass-device-screen button {
  width: clamp(50px, 7.5vw, 100px);
  height: clamp(20px, 3.5vh, 50px);
  align-self: center;
}

.end-screen {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: clamp(200px, 20vw, 400px);
  height: clamp(200px, 20vh, 400px);
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.end-screen button {
  width: 150px;
  padding: 10px 20px;
}
.end-turn-button {
  grid-row: 3/4;
  grid-column: 1/3;
  justify-self: center;
  width: clamp(50px, 7.5vw, 100px);
  height: clamp(20px, 3.5vh, 50px);
}
.end-screen {
  background-color: rgba(0, 0, 0, 0.5);
}
footer {
  flex: 1 0 10vh;
  position: sticky;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
