*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
header{
    flex:1 0 15vh;
}
main{
    flex:1 0 75vh;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
footer{
   flex:1 0 10vh;
}
.board{
    border:1px solid black;
    display: flex;
    width:250px;
    height: 250px;
}
.column{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
   
}
.cell{
    border:1px solid black;
    flex-grow: 1;
}