*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    min-height: 100vh;
}
#root{
    height:100%;
    flex-direction: column;
    display: flex;
}
header{
    flex:1 0 15vh;
    text-align:center;
    font-size:3rem;
    padding: 1rem 0;
}
main{
    flex:1 0 75vh;
    padding:2rem;
    display: grid;
    gap:2rem;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-content: center;
    width:60vw;
    align-self:center;
}
footer{
   flex:1 0 10vh;
}
.info-container{
    grid-row:1;
    grid-column: 1 / span 2;
    justify-self: center; 
    min-width:50%;
    min-height:60%;
    border:1px solid black;
}
.board-container{
    display: grid;
    grid-template-columns: 20px 350px; 
    grid-template-rows: 20px 350px;
    gap: 2px;
    width: fit-content;
    justify-self:center;
}
.board{
    grid-column: 2;
    grid-row: 2;
    border:1px solid black;
    display: flex;
}
.player1{
    grid-column:1;
    grid-row:2;
}
.player2{
    grid-column:2;
    grid-row:2;
}
.column-display{
    grid-column: 2;
    grid-row: 1;
    display: flex;
}
.column-display div{
   flex: 1;
   text-align: center;
}
.column{
    flex: 1;
   display: flex;
   flex-direction: column;
}
.row-display{
    grid-column: 1;       
    grid-row: 2;  
    display: flex;
    flex-direction: column;
}
.row-display div{
    flex: 1;
   text-align: center;
}
.cell{
    border:1px solid black;
    flex-grow: 1;
    
}
.setup-screen{
    position:absolute;
    background-color:white;
    display:flex;
    flex-direction:column;
    padding:3rem;
    gap:2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    opacity:1;
    z-index:2;
}
.setup-screen h2{
    font-size:2rem;
}
.setup-screen button{
    width:80px;
    padding:10px 20px;
    align-self:center;
}
.page-cover{
    position:fixed;
    z-index:1;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background-color:black;
    opacity:0.6;
}
.choose-mode-screen{
    position:absolute;
    background-color:white;
    display:grid;
    width:20vw;
    height:30vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    padding:3rem;
    gap:2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    opacity:1;
    z-index:2;
}
.choose-mode-screen h2{
    grid-column: 1/3;
}
.choose-mode-screen .next-button.choose-mode{
    grid-column: 1/3;
}
.active-mode{
    border-color:green;
}
.pass-device-screen{
    position:absolute;
    background-color:white;
    display:flex;
    flex-direction:column;
    padding:3rem;
    gap:2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    opacity:1;
    z-index:2;
    display:flex;
    flex-direction:column;
    width:25vw;
    height:15vh;
    text-align:center;
    align-items:center;
    justify-content:center;
}
.end-screen{
    position:absolute;
    background-color:white;
    display:flex;
    flex-direction:column;
    padding:3rem;
    gap:2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    opacity:1;
    z-index:2;
    display:flex;
    flex-direction:column;
    width:25vw;
    height:15vh;
    text-align:center;
    align-items:center;
    justify-content:center;
}
.end-screen button{
    width:150px;
    padding:10px 20px;
}